@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'blocks/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');

h1, h2, h3, h4 {
    margin: 0;
    margin-block: unset;
    margin-inline: unset;
}

.container {
    max-width: 1146px;
    margin: 0 auto;
}

.hamburger {
	display: none;
}

@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/promo';

@import 'blocks/media';

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}