.btn {
    width: 112px;
    height: 52px;
    background: $main-color;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    &:focus {
        outline: none;
    }

    &_mt50 {
        margin-top: 50px;
    }
}