.clients {
    padding-top: 170px;
    background-color: $bg-color;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 39px;
        line-height: 130%;
        color: #FFFFFF;
    }
    &__subtitle {
        max-width: 460px;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        opacity: 0.7;
        &_mt40 {
            margin-top: 40px;
        }
    }
}